/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                                      General                                    ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/

body {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1em;
    height: 90vh;
    background-color: #EDEDED;
}

pre {
    position: absolute;
    top: 2.1em;
    left: 2.1em;
    right: 2.1em;
    white-space: pre-line;
}

textarea {
    flex-grow: 1;
    z-index: 1;
    padding: 1em;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    color: red;
    caret-color: black;
    background-color: transparent;
    border: 2px solid gray;
}

textarea:focus {
    outline: none;
}

button {
    align-self: center;
}

/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                              Syntax Highlighting                                ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/

.comment {
    color: #6A9955;
}